html,
body {
    height: 100%;
}

body {
    background-color: #ffeedc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#post-container {
    padding: 32px;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 64px;
}

.division {
    width: 100%;
    padding: 32px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 128px;

    @media (max-width: 800px) {
        gap: 32px;
    }
    
    #carousel-post-images {
        img {
            width: 400px;

            @media (max-width: 500px) {
                width: 200px;
            }
        }
    }
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: 700px) {
        align-items: center;
    }

    a {
        color: black;
        text-decoration: none;
        font-size: 16px;
    }

    #post-type {
        margin: 32px 0 16px;
        font-size: 12px;
        font-weight: 700;
        background-color: #FDC47F;
        border: 1px solid black;
        text-align: center;
        padding: 8px 12px;

        @media (max-width: 700px) {
            margin: 32px 0 12px;
        }
    }

    #post-title {
        margin: 16px 0;
        font-size: 40px;
        font-weight: 700;

        @media (max-width: 700px) {
            margin: 0;
        }
    }

    #post-description {
        font-size: 16px;

        @media (max-width: 700px) {
            margin: 0 0 12px;
        }
    }
}

#content {
    width: 60%;

    @media (max-width: 700px) {
        width: 100%;
    }
}

.share {
    width: 30%;

    @media (max-width: 700px) {
        width: 100%;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 12px;
    }

    .subscribe-button {
        width: 100%;
        color: white;
        background-color: black;
        height: 40px;
        font-size: 16px;
        margin: 12px 0;
        border: none;
    }

    #post-share {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 28px;
        margin-top: 16px;

        img {
            width: 28px;
            height: 28px;
        }
    }
}