html, body {
    height: 100%;
}

body {
    background-color: #FFEEDC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.products-container {
    padding: 32px;
    margin: 0;

    @media (max-width: 500px) {
        padding: 16px;
    }

    .products-head {
        text-align: center;
    
        h1 {
            font-size: 48px;
            margin: 16px 0 24px;
        }
    }

    #products-content {
        margin-top: 32px;
        padding: 16px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 16px;

        a {
            color: black;
            text-decoration: none;
        }

        .product {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.7);
            border: 1px solid black;

            text-align: center;

            .image-container {
                background-size: cover;
                background-position: center;
                width: 304px;
                height: 364px;

                @media (max-width: 400px) {
                    width: 244px;
                    height: 304px;
                }
            }

            h5 {
                margin-top: 8px;
                font-size: 18px;
            }
    
            h4 {
                font-size: 20px;  
            }
        }
    }
}